* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
}

body {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 18px;
}

li {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
  text-align: center;
}

/*
 * Small Screen
 */

@media screen and (max-width: 576px) {
  * {
    overflow-x: hidden;
  }
}

/*
 * Tiny Screen
 */

@media screen and (max-width: 320px) {
  body {
    font-size: 12px;
  }
}

/*
 * Navigation Bar
 */

.nav_bar {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  width: 100%;
  height: 90px;
  align-items: center;
  position: fixed;
}

.icon_container {
  margin-left: 25px;
  margin-right: auto;
}

.ksu_logo {
  width: 110px;
  height: 81.7px;
  display: block;
}

.desktop_nav {
  font-family: "Roboto Slab", serif;
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.desktop_nav li {
  white-space: nowrap;
  margin-left: 50px;
}

.contactUs_button {
  color: #949494;
}

@media screen and (max-width: 576px) {
  .desktop_list {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  .nav_bar {
    height: 65px;
  }

  .ksu_logo {
    width: 70px;
    height: 53px;
  }
}
