* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
}

body {
  font-family: "M PLUS Rounded 1c", sans-serif;
}

li {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
  text-align: center;
}

/*
 * Navigation Bar
 */

.nav_bar {
  display: flex;
  flex-direction: row;
}

.icon_container {
  margin: 32px 734px 32px 6.5%;
}

.ksu_logo {
  width: 108px;
  height: 78px;
  display: block;
}

.main_nav {
  font-family: "Roboto Slab", serif;
  display: flex;
  align-items: center;
}

.main_nav li {
  margin-right: 161px;
  white-space: nowrap;
}

.login_button {
  color: #949494;
}
