/*
 * Main Photo
 */

.main_photo_container {
  height: 608px;
  background-image: url("../imgs/main_photo.jpeg");
  background-attachment: fixed;
  background-size: cover;
}

/*
.main_photo {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.6;
}*/

.temp {
  height: 1000px;
  background-color: black;
}
